@import '../../styles/variables';

.colorSelector {
  margin-top: 20px;

  .colorsGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 5px;
    padding-top: 15px;

    img {
      width: 100%;
      border: 1px solid $text_color;
      cursor: pointer;

      &:hover {
        opacity: .7;
      }
    }
  }
}
