$body_background_color: #fff;
$placeholder_color: #59595d;
$text_color: #59595d;
$third_color: #754855;
$third_color_hover: #552a36;
$footer_social_networks_text_color: #575656;
$text_secondary_color: #9a9c9e;
$text_third_color: #c8c6cb;
