@import 'src/styles/variables';

@font-face {
  font-family: 'Monserrat Regular';
  src: url('src/assets/fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Monserrat Bold';
  src: url('src/assets/fonts/montserrat/Montserrat-Bold.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { background: $body_background_color }

::placeholer {
  color: $placeholder_color;
  text-transform: uppercase;
  opacity: 1;
}

::-ms-input-placeholder {
  color: $placeholder_color;
  text-transform: uppercase;
  opacity: 1;
}

::-webkit-input-placeholder {
  color: $placeholder_color;
  text-transform: uppercase;
  opacity: 1;
}

a {
  text-decoration: none;
  color: $text_color;
}

ul {
  list-style-type: none;
}

.text-uppercase {
  text-transform: uppercase;
}

h5 {
  font-family: 'Monserrat Regular';
  text-transform: uppercase;
  color: $text_color;
  font-size: 18px;
}
