@import 'src/styles/variables';

.brandAndSearchContainer {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px 0;

  .brandLogo img {
    height: 70px;
  }

  .searchContainer {
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    .promoText {
      font-family: 'Monserrat Regular';
      color: $third_color;
    }
  }
}
