@import 'src/styles/variables';

.actionSection {
  h2 {
    color: $text_color;
  }

  .price {
    color: $third_color;
    font-weight: bold;
    font-size: 20px;
  }

  .productCode {
    color: $text_third_color;
    font-family: 'Monserrat Regular';
  }
}
